@font-face {
    font-family: "OpenSans";
    src: url('fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: "OpenSansSemiBold";
    src: url('fonts/OpenSans-SemiBold.ttf');
}

.border-pane {
    -fx-background-color: #02886F;
}

.grid-pane {
    -fx-background-color: #9BEDE1;
    -fx-border-radius: 50px;
}

.root-pane {
    -fx-background-color: #9BEDE1;
}

.login-title {
    -fx-font-family: "OpenSans";
    -fx-font-size: 28px;
    -fx-font-weight: Bold;
}

.username-label {
    -fx-font-family: "OpenSans";
    -fx-font-size: 16px;
}

.password-label {
    -fx-font-family: "OpenSans";
    -fx-font-size: 16px;
}

.login-btn {
    -fx-background-color: #02886F;
    -fx-text-fill: #ffffff;
}

/* Home */
.header {
    -fx-background-color: #02886F;
    -fx-padding: 24px 0px 24px 50px;
}

.logo {
    -fx-font-family: "OpenSans";
    -fx-font-size: 20px;
    -fx-font-weight: Bold;
    -fx-text-fill: #FFFFFF;
}

.menu {
    -fx-background-color: #9BEDE1;
    -fx-padding: 30px 0px 30px 0px;
}

.btn {
    -fx-background-color: transparent;
    -fx-border-width: 0;
    -fx-padding: 0px 0px 0px 50px;
    -fx-cursor: hand;
    -fx-font-family: "OpenSans";
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-text-fill: #333333;
}

.cards {
    -fx-background-color: #9BEDE1;
    -fx-padding: 0px 50px 30px 50px;
}

.total-box {
    -fx-padding: 15px 0px 15px 15px;
}

.deal-text {
    -fx-font-family: "OpenSans";
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-text-fill: #333333;
}

.ongoing-text {
    -fx-font-family: "OpenSans";
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-text-fill: #333333;
}

.done-text {
    -fx-font-family: "OpenSans";
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-text-fill: #333333;
}

.pendapatan-text {
    -fx-font-family: "OpenSans";
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-text-fill: #333333;
}

.card-value {
    -fx-font-family: "OpenSans";
    -fx-font-size: 32px;
    -fx-font-weight: Bold;
    -fx-text-fill: #333333;
}

.label-tabel {
    -fx-padding: 0px 0px 0px 50px;
    -fx-font-family: "OpenSans";
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-text-fill: #333333;
}

.tabel-jadwal {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-font-family: "OpenSans";
    -fx-font-size: 16px;
    -fx-text-fill: #333333;
    -fx-padding: 10px 50px 0px 50px;
}

.table-column {
    -fx-alignment: center;
    -fx-padding: 5px 20px 5px 20px;
}

.wrap-text {
    -fx-wrap-text: true;
}

/* Transaksi */
.tool-box {
    -fx-background-color: transparent;
    -fx-padding: 0px 0px 25px 50px;
}

.filter-button {
    -fx-padding: 5px 10px 5px 10px;
    -fx-cursor: hand;
    -fx-background-color: #02886F;
    -fx-font-family: "OpenSans";
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-text-fill: #FFFFFF;
}

.search-field {
    -fx-padding: 5px 1000px 5px 10px;
    -fx-background-color: #F3F3F3;
    -fx-font-size: 16px;
}

.add-button {
    -fx-padding: 5px 10px 5px 10px;
    -fx-cursor: hand;
    -fx-background-color: #02886F;
    -fx-font-family: "OpenSans";
    -fx-font-size: 16px;
    -fx-font-weight: Bold;
    -fx-text-fill: #FFFFFF;
}